<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ title }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <p>The following sources are useful for news around Coronavirus:</p>
      <ul>
        <li>
          <a href="http://www.nicd.ac.za/media/alerts/">NICD - South Africa</a>
        </li>
        <li>
          <a href="http://www.health.gov.za/">Department of Health - South Africa</a>
        </li>
        <li>
          <a href="https://www.gov.za/media-statements">South African Government Media Statements</a>
        </li>
        <li>
          <a href="https://dd.dhmis.org/">National Department of Health Data Dictionary</a>
        </li>
        <li>
          <a href="https://www.medpages.info/sf/index.php?page=homepage">MedPages</a>
        </li>
        <li>
          <a href="http://www.statssa.gov.za/">Statistics South Africa</a>
        </li>
        <li>
          <a href="https://github.com/dsfsi/covid19za">DSFSI research group at the University of Pretoria data repository</a>
        </li>
        <li>
          <a href="https://covid19api.com/">COVID19 API</a> by <a href="https://ksred.me/">Kyle Redelinghuys</a>
        </li>
      </ul>
  </div>
</ion-content>
