<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ title }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <p>
      I made the website as I wanted a way to visualise data around Coronavirus in a South Africa centric way. Most of the dashboards that I saw were focused on the global impact and didn't provide a local narrative
    </p>

    <p>
      Initially I found a <a href="https://datastudio.google.com/u/0/reporting/1b60bdc7-bec7-44c9-ba29-be0e043d8534/page/hrUIB">dashboard</a> created for viewing COVID19 data for South Africa made by the Data Science for Social Impact Research Group at the University of Pretoria but felt I had my own ideas for how the data could be visualised. I also wanted the data to be highly accessible for all South Africans. The <a href="https://dsfsi.github.io/">DSFSI research group</a> kindly made their data available on <a href="https://github.com/dsfsi/covid19za/">Github</a>.
    </p>

    <p>
      Some of the ideas that I'm currently working on implementing are making the website a Progressive Web App so that I can reduce the amount of data needed to load the website. I would also like to make the website accessible in all 11 official languages to help ensure that the information is accessible to all. If you
    </p>

    <p>
      You can learn more about me at my <a href="http://baadiersydow.com">website</a> or reach out to me on <a href="https://twitter.com/baadier">Twitter</a> if you want to get in touch.
    </p>
    
    <p>
      Please contribute code or translations via the repository on <a href="https://github.com/Baadier-Sydow/coronavirus-dashboard-south-africa">GitHub</a>, if you are able to assist.
    </p>
  </div>
</ion-content>
