@import url('https://js.arcgis.com/4.14/esri/css/main.css');

.esri-view {
    height: 100%;
}

ion-menu-button {
    color: var(--ion-color-primary);
}

#container {
    text-align: center;
    height: 100%;
    width: 100%;
}

ion-content ion-toolbar {
    --background: transparent;
}