<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ title }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <p>I've used a few different data sources for the South African and International data. Both primary sources of the data are open and accessible if you'd like to repurpose the data in new and novel ways.</p>
    <p>This website itself is also repurposable and you can find it on Github at <a href="https://github.com/Baadier-Sydow/coronavirus-dashboard-south-africa">https://github.com/Baadier-Sydow/coronavirus-dashboard-south-africa</a>. You can create a pull request if you find something on the website you feel should be changed.</p>

    <h4>Local Data</h4>
    <p>Local data has been sourced from the data provided by the <a href="https://dsfsi.github.io/">DSFSI research group</a> at the University of Pretoria. You can learn more about their approach and why they're doing it at their <a href="https://dsfsi.github.io/blog/covid19za-dashboard/">launch</a> post.</p>

    <p>Their data is originally from:</p>
      <ul>
        <li>
          <a href="http://www.nicd.ac.za/media/alerts/">NICD - South Africa</a>
        </li>
        <li>
          <a href="http://www.health.gov.za/">Department of Health - South Africa</a>
        </li>
        <li>
          <a href="https://www.gov.za/media-statements">South African Government Media Statements</a>
        </li>
        <li>
          <a href="https://dd.dhmis.org/">National Department of Health Data Dictionary</a>
        </li>
        <li>
          <a href="https://www.medpages.info/sf/index.php?page=homepage">MedPages</a>
        </li>
        <li>
          <a href="http://www.statssa.gov.za/">Statistics South Africa</a>
        </li>
      </ul>

      <p>You can view all the contributors to the project <a href="https://github.com/dsfsi/covid19za/graphs/contributors">here</a>.</p>

      <p>Special thanks to Dr Vukosi Marivate and the rest of the team :)</p>

      <p>Please use the below citation to provide the correct attribution for the data:</p>
      <em>{{ localDataCitation }}</em>

    <h4>International Data</h4>
    <p>International data has been sourced by the open API for COVID19 data at <a href="https://covid19api.com/">https://covid19api.com/</a> built by <a href="https://ksred.me/">Kyle Redelinghuys</a>. The data the API exposes has been retrieved from <a href="https://github.com/CSSEGISandData/COVID-19">Johns Hopkins CSSE</a>.</p>
  </div>
</ion-content>
